In [14]:
import pandas as pd
df = pd.read_csv("./exper_result.csv")
bool = (df["experiment_id"] == 35)| (df["experiment_id"] == 46)
df[bool]

,experiment_id,loss_mean,sample_size,contamination_rate,data_dim,mu,mu_out,par_reg1,learn_par,dicay_par,exper_iter,optim_iter,mm_iter,init_loc_of_u,loss_std,date,time
30,35,0.2449,1000,0.1,10,5.0,0.0,0.0005,0.05,0.5,10,500,1,0.0,0.120,NaN,NaN
40,46,0.2819,1000,0.1,10,5.0,0.0,0.0050,0.05,0.5,10,500,1,0.0,0.155,2022-11-11,00:33

In [16]:
df[df[" data_dim"]==10]

,experiment_id,loss_mean,sample_size,contamination_rate,data_dim,mu,mu_out,par_reg1,learn_par,dicay_par,exper_iter,optim_iter,mm_iter,init_loc_of_u,loss_std,date,time
30,35,0.2449,1000,0.1,10,5.0,0.0,0.0005,0.050,0.5,10,500,1,0.0,0.1200,NaN,NaN
33,38,0.1489,1000,0.1,10,0.0,5.0,0.0005,0.050,0.5,10,500,1,0.0,0.0421,NaN,NaN
34,40,0.2096,1000,0.1,10,5.0,0.0,0.0005,0.050,0.5,10,500,1,0.0,0.0930,NaN,NaN
35,41,0.2414,1000,0.1,10,5.0,0.0,0.0005,0.050,0.5,10,500,1,0.0,0.1065,NaN,NaN
37,43,0.1661,1000,0.1,10,5.0,0.0,0.0005,0.050,0.5,5,500,1,0.0,0.0533,2022-11-06,00:01
39,45,0.3204,1000,0.1,10,5.0,0.0,0.0100,0.050,0.5,10,500,1,0.0,0.1396,2022-11-10,22:56
40,46,0.2819,1000,0.1,10,5.0,0.0,0.0050,0.050,0.5,10,500,1,0.0,0.1550,2022-11-11,00:33
41,47,0.2902,1000,0.1,10,5.0,0.0,0.0010,0.050,0.5,10,500,1,0.0,0.1329,2022-11-11,02:14
42,48,0.4194,1000,0.1,10,5.0,0.0,0.0100,0.010,0.5,10,500,1,0.0,0.0666,2022-11-11,03:49
43,49,0.3853,1000,0.1,10,5.0,0.0,0.0050,0.010,0.5,10,500,1,0.0,0.0409,2022-11-11,05:32
44,50,0.3731,1000,0.1,10,5.0,0.0,0.0010,0.010,0.5,10,500,1,0.0,0.0502,2022-11-11,07:17
45,51,0.4326,1000,0.1,10,5.0,0.0,0.0100,0.005,0.5,10,500,1,0.0,0.0401,2022-11-11,08:59